
<h2>Features</h2>
<ul>
  <li>Blowfish encrypt.</li>
  <li>Quick access tools for both iOS and Android.</li>
  <li>Offline password manager</li>
</ul>

<h2>Download</h2>
<p><a href="https://play.google.com/store/apps/details?id=sun.bob.leela"><img src="images/google-play-badge.png" height="60"></a><a href="https://itunes.apple.com/cn/app/puff-password-manager-open-source-free/id1183663532?mt=8"><img src="images/app-store-badge.png" height="60"></a></p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/PuffOpenSource/">Get the source code</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="https://github.com/SpongeBobSun">Bob Sun</a>
  </li>
</ul>
